.contact {
    margin-top: 1.3rem;
    &__heading {
        text-align: center;
        font-size: 1.3;
        color: white;
        font-weight: 600;
        border-bottom: 1px solid lightgrey;
        padding-top: 1rem;
        padding-bottom: 0.6rem;
        width: 50%;
        margin: auto;
        &__p2 {
            color: $secondary-color;
        }
    }

    &__details {
        margin-top: 1.4rem;
        text-align: center;
        margin-bottom: 0.4rem;
    }
    &__detail {
        h1 {
            font-size: 1rem;
            color: white;
            text-align: center;
            font-weight: 500;
        }
    }
}

.social-icons {
    padding-bottom: 1.1rem;

    
    &__container {
    width: 80%;
    margin : auto;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(3,0.2fr);
    }
    &__link {
        text-align: center;
        font-size: 2rem;
        color: $primary-color;
        transition: colors 0.5s ease-in-out;
        &:hover {
            color: $secondary-color;
            font-size: 2.03rem;
        }
    }

}
.contact__envelope {
    color: $secondary-color;
}