#phone__logo {
    display: block;
}
#dekstop__logo {
    display: none;
}

.logo {
    cursor: pointer;

    &__name {
        font-size: 1.2rem;
        font-weight: 400;
    }
    &__fname {
        font-weight: 700;
    }
    &__box {
        background-color: $secondary-color;
        height: 25px;
        width: 25px;
        position: fixed;
        top: 1.4rem;
        border-radius: 30%;
        transform: rotate(60deg);
        z-index: -1;
        left: 4.3rem;
    }
}


.nav {
    .nav-menu {
        display: grid;
        // margin-left: rem;
        grid-template-columns: repeat(3,0.1fr);
        justify-content: center;
        align-items: center;
        list-style: none;
        &__item {
            padding: 0.2rem 0.5rem;
            &:hover {
                .nav-menu__link {
                    color: white;
                    // font-weight: 6;
                };
            }
        }
        &__link {
            padding: 0.4rem 0.3rem;
            color: $inactive-color;
            font-size: 0.92rem;
            text-decoration: none;
            font-weight: 500;
            transition: all 0.1s ease-in-out;
            // @include trastion-ease($time : 0.5s);
 


        }
    }
    
}

.button__settings {
    
    background-color: $secondary-color;
    height: 29px;
    width: 29px;
    
    // transform: rotate(30deg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    cursor: pointer;
    margin-top: 0.1rem;
    transition: all 0.5s ease-in-out;
    &:hover {
        background-color: $secondary-color;
        color: white;
        transform: rotate(120deg);
    }
    
    &__icon {
        font-size: 1.2rem;
        transition: all 0.5s ease-in-out;
        &:hover {
            color: $hover-color;
        }
    }

}
