.work {
    // background-color: $primary-color;
    &__heading {
        text-align: center;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    &__projects {
        margin-top: 1.4rem;
        display: grid;
        grid-template-rows: (repeat,$project_count);
        grid-gap: 1.2rem;
        justify-content: center;
        text-align: center;
        align-content: center;
        height: 100%;
        
    }

    &__project {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 3;
        // align-items: center;
        // justify-content: center;
        &__img {
            width: 320px;
            height: 175px;
            margin: auto;
            border-radius: 5%;
            background-color: black;
        }
        &__text {
            text-align: center;
            margin-top: 0.5rem;
            &__heading {
                font-weight: 600;
                font-size: 1rem;
            }
            &__main {
                width: 99%;
                margin: auto;
                color: grey;
                line-height: 1.1;
                text-align: center;
                font-size: 0.8rem;
                margin-top: 0.4rem;
                font-family: 'Poppins', sans-serif;
            }
        }
        &__buttons {
            display: flex;
            margin-top: 0.7rem;
            justify-content: space-evenly;
            align-items: center;
        }
        &__button {
            background-color: $secondary-color;
            padding: 0.3rem 0.5rem;
            border-radius: 10%/20%;
            color: white;
            text-decoration: none;
            font-size: 0.9rem;
            transition: all 0.5s ease-in-out;
            &:hover {
                background-color: $hover-color;
                color: black;
            }
        }
        
        
    }
}

.Link_to_all_projects {
    max-width: 70% ;
    text-align: center;

    margin: auto;
    margin-top: 1rem;
    transition: all 1s ease-in-out;

    &:hover {
        background-color: $secondary-color;
        .link_to {
            color: white;
            a {
                color: white;
            }
        }
    }


    .link_to {
        font-size: 1.1rem;
        font-weight: 400;
        border : 1px solid lightgrey;
        padding: 0.4rem 0.7rem;
        a {
            color: black;
            font-weight: 500;
        }
    }
}

#project3 {
    .work__project__img {
        background : url(../img/project3.jpg) center center/cover
    }
}
#project1 {
    .work__project__img {
        background : url(../img/project1.jpg) center center/cover
    }
}

#project2 {
    .work__project__img {
        background : url(../img/project2.jpg) center center/cover
    }
}

